<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Lifetime" connectionString="Server=SqlDbStaging;Integrated Security=True;database=LifetimeTest;Application Name=CECity.Community.Web.Working;Max Pool Size=125; Min Pool Size=10;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<appSettings>
    <add key="Lifetime" value="Server=SqlDbStaging;Integrated Security=True;database=LifetimeTest;Application Name=CECity.Community.Web.Working;Max Pool Size=125; Min Pool Size=10;"/>
  </appSettings>-->
</configuration>
